body {
    padding-top:10%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

p{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size:14px;
}

div{
    position: relative;
}
body, button {
    color: blue;
    font-family: cursive;
}
