body {
    padding-top: 7%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

p {
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

div {
    position: relative;
    width: 1024;
    height: 576;
}

body,
button {
    color: black;
    font-family: sans-serif;
}

#startScreen {
    background-color: black;
    position: relative;
    width: 1024;
    height: 720;
    border: 2px solid white;
}

h1,
h2 {
    margin: 0;
    text-align: center;
    color: black;
}

#btn {
    position: absolute;
    margin-left: 41%;
    margin-top: 300px;
    font-size: 30px;
}

#button {
    position: absolute;
    margin-left: 42.5%;
    margin-top: 300px;
    font-size: 30px;
}